/*网易严选*/
body{
	margin: 0;
	padding: 0;
	overflow-x:hidden; 
}
ul , ol , li ,a{
	list-style: none;
	text-decoration: none;
}
*{
	padding: 0;
	margin: 0;
}
.ttop{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #333333;
}
.ttop a:hover{
	color: #fff;
}
.ttop_center{
	width: 1090px;
	height: 36px;
	line-height: 36px;
}
.ttop_center::after,.ttop_left::after{
	content: "";
	display: block;
	clear: both;
}
.ttop_left>div{
	float:left;
	font-size: 12px;
}
.llft >a{
    color: #ccc;
    margin-right: 45px;
}
.lright > a {
	padding-left: 19px;
	color: #b49559;
	text-decoration: underline;
}
.lright{
	background: url(../images/laba.gif)center left no-repeat ;
	background-size: 14px 14px;
}
.ttop_left{
	float: left;
	width: 400px;
}
.ttop_right{
	float: right;
	width: 470px;
}
.ttop_right>ul{
	width: 100%;
	height: 36px;

	display: flex;
	align-items: center;
	justify-content: space-around;
}
.ttop_right>ul>li>a{
	color: #ccc;
	font-size: 12px;
}
.top{
	width: 100%;
	height: 204px;
	margin: 0 auto;
	position: relative;

}
.top_center{
	width: 1090px;
	height: 204px;
	margin: 0 auto;
}
.top_center > a{
	position: relative;
	text-decoration: none ;
	left: 455px;
	top: 72px;
}
.top_center > a > i {
	height: 60px;
	width: 180px;
	background: url("../images/text.png") no-repeat;
	background-position: 0 -146px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	word-spacing: normal;
	letter-spacing: normal;
	box-sizing: border-box;

}
.top_fond{
	width: 230px;
    position: relative;
    left: 750px;
    top: 35px;
}
.top_fond::after{
	content: "";
	display: block;
	clear: both;
}
.top_fond > input{
	width: 200px;
	height: 22px
	line-height:22px;
	float: left;
	border-style: none;
	border-bottom: 1px solid #D8CEBC;
	color: #ccc;
}
.fdj {
	float: left;
	border-style: none;
	border-bottom: 1px solid #D8CEBC;

}
.fdj > i{
	width: 20px;
	height: 20px;
	background: url("../images/text.png") no-repeat;
	background-position: 0 -291px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
}
.shopping{
	position: relative;
	width: 34px;
	height: 32px;
	top: 6px;
	left: 990px;
}

.shopping > .shopcar{
	width: 23px;
	height: 23px;
	background: url(../images/text.png) no-repeat;
	background-position: 0 -113px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	bottom: 0;
	left: 0;
}
.shopping > .red{
	width: 19px;
	height: 19px;
	background: url(../images/text.png) no-repeat;
	background-position: 0 -51px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 0;right: 0;
	z-index: 1;
	color: white;
}
.nav{
	margin: 0 auto;
    margin-top: 55px;
	bottom: 21px;
	box-sizing: border-box;
}
.nav>ul{
	width: 1090px;
	margin: 0 auto;
	line-height: 30px;
	box-sizing: border-box;
}
.nav > ul::after{
	content:"";
	display:block;
	clear:both;
}
.nav>ul>li{
	box-sizing: border-box;
	float: left;
	margin-top: 6px;
	padding: 0 24px;
}
.nav >ul >li >a{
	text-decoration: none;
	color: black;
	font-weight:700;
	font-size: 13px;
	padding-bottom: 6px;
}
.nav > ul > li:first-child{
	margin-left: 25px;
}
.nav > ul :nth-child(12){
	padding: 0;
}
.nav>ul>li>a:hover{
	color:#b4a078; 
	border-bottom: 3px solid #b4a078;
}
.nav>ul>li:first-child >a{
	color:#b4a078; 
	border-bottom: 3px solid #b4a078;
}
.jj{
	box-sizing: border-box;
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	z-index: 1;
}
.juj:hover .jj{
	display: block;
}
.jj_center{
	width: 930px;
	margin: 0 auto;
	background-color: pink: 
}
.jj_center > ul {
	white-space: nowrap;
	background-color:#fff;
	margin-top: 20px;
}
.jj_center > ul::after{
	content: "";
	display: block;
	clear: both;
}
.jj_center> ul > li{
	float: left;
	margin-right: 90px;
	text-align: center;
	height: 77px;
	margin-bottom:30px;
	box-sizing: border-box;
}
.jj_center > ul :nth-child(7){
	margin-right: 0px;
}
.jj_center > ul > li p{
	box-sizing: border-box;
	font-size: 13px;
	width: 55px;
	font-weight: bold;
	margin-bottom: 20px;
}
.jj_center > ul > li:hover{
	color: #b4a078;
}
.jj_center > ul > li a{
	height: 44px;
	margin: 0; 
}
.bigphoto{
	width: 1263px;
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bigphoto img{
	width: 1920px;
	height: 430px;
}
.bpbc{
	position: relative;
	background-color: #f5f5f5;
	width: 100%;
	box-sizing: border-box;
	height: 420px;
}
.bigphoto{
	width: 1920px;
	height: 420px;
	margin: 0 auto;
	overflow:hidden;
}
.bigphoto ul::after{
	content:"";
	display:block;
	clear:both;
}
.bigphoto ul{
	width: 5760px;
	position:relative;
	animation-name: bgphoto;
	animation-duration: 9s;
	animation-timing-function: steps(3);
	animation-iteration-count: infinite;
}
.bigphoto ul >li{
	float:left;
}
@keyframes  bgphoto{
	0%{
		left:1920px;
	}
	100%{
		left:-3840px;
	}
}
.ppzzs{
	width: 1090px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.ppzzs_top_center>small,.ppzzs_top_right>a,.xpsf_top_center>small,.xpsf_top_right>a{
	font-size: 16px;
}
.ppzzs_top{
	width: 1090px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.ppzzs_top::after{
	content: "";
	display: block;
	clear: both;
}
.ppzzs_top a{
	text-decoration: none;
	color: #000;
}
.ppzzs_top h3{
	font-size: 28px;
}
.ppzzs_top div{
	float: left;
	position: relative;
}
.ppzzs_top_center{
	top: 18px;
	left:30px;
}
.ppzzs_top_right{
	top:18px;
	left: 620px;
}
.ppzzs_top_right > a{
	font-size: 14px;
}
.ppzzs_top >div a:hover{
	color: #b4a078;
}
.ppzzs_body{
	width: 100%;
	box-sizing: border-box;
}
.ppzzs_body::after{
	content: "";
	display: block;
	clear: both;
}
.ppzzs_body1,.ppzzs_body2{
	width: 357px;
	height: 320px;
	box-sizing: border-box;
	position: relative;
	overflow:hidden;
}
.ppzzs_body1>a{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.ppzzs_body1{
	background-color: #f5efec;
	float: left;
	margin-right: 9px;
}
.ppzzs_body2{
	background-color: #f3fafb;
	float: left;
	margin-right:9px;
}
.ppzzs_body3,.ppzzs_body4{
	width: 357px;
	box-sizing: border-box;
	height:155px;
	position: relative;
	overflow: hidden;
}
.ppzzs_body3{
	background-color: #ebf3f0;
	float: left;
	margin-bottom: 9px;
}
.ppzzs_body4{
	background-color: #f2fafc;
	float: left;
}
.ppzzs_body > div span ,.ppzzs_body > div >div>div{
	position: absolute;
}
.ppzzs_body1 div>span:first-child{
    font-size: 24px;
    top: 30px;
    left:130px;
    color: #333;
    z-index: 1;
}
.ppzzs_body1 div>span:nth-child(2){
	width: 32px;
	height: 21px;
	top: 30px;
	left: 240px;
	font-size: 11px;
	color: #fff;
	background: url(../images/youshang.png)center no-repeat;
    z-index: 1;	
}
.ppzzs_body1 >div>div{
	top: 90px;
	left: 160px;
	font-size: 14px;
	border-top: 1px solid #666;
	padding-top: 15px;
	color: #666;
    z-index: 1;
}
.ppzzs_body2>span:first-child{
	font-size: 24px;
    top: 30px;
    left:100px;
    color: #666;
    z-index: 1;
}
.ppzzs_body2>span:nth-child(2){
	width: 32px;
	height: 21px;
	top: 30px;
	left: 280px;
	font-size: 11px;
	color: #fff;
	background: url(../images/youshang.png)center no-repeat;
    z-index: 1;
}
.ppzzs_body2>div{
	position: absolute;
	top: 90px;
	left: 160px;
	font-size: 14px;
	border-top: 1px solid #666;
	padding-top: 15px;
	color: #666;
    z-index: 1;
}
.ppzzs_body3>span:first-child{
	font-size: 20px;
	color: #666;
	left:15px;
	top:20px;
    z-index: 1;
}
.ppzzs_body3>span:nth-child(2){
	width: 32px;
	height: 21px;
	top:15px;
	left:120px;
	font-size: 11px;
	color: #fff;
	background:url(../images/youshang.png)center no-repeat;
    z-index: 1;
}
.ppzzs_body3>div{
	position: absolute;
	font-size: 14px;
	border-top: 1px solid #666;
	padding-top: 10px;
	color: #666;
	top: 55px;
	left: 15px;
    z-index: 1;
}
.ppzzs_body4>span{
	font-size: 20px;
	color: #666;
	left: 15px;
	top: 20px;
    z-index: 1;
}
.ppzzs_body4>div{
	position: absolute;
	font-size: 14px;
	border-top: 1px solid #666;
	padding-top: 10px;
	color: #666;
	top: 55px;
	left: 15px;
    z-index: 1;
}
.ppzzs_body>div img{
	transition: all 1s;
}
.ppzzs_body>div:hover img{
	transform: scale(1.1);
/*	transition: all 1s;*/
}
.xpsf{
	width: 1090px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.xpsf_top{
	width: 1090px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.xpsf_top::after{
	content: "";
	display: block;
	clear: both;
}
.xpsf_top a{
	text-decoration: none;
	color: #000;
}
.xpsf_top h3{
	font-size: 28px;
}
.xpsf_top div{
	float: left;
	position: relative;
}
.xpsf_top_center{
	top: 18px;
	left:30px;
}
.xpsf_top_right{
	top:18px;
	left: 730px;
}
.xpsf_top_right > a{
	font-size: 14px;
}
.xpsf_top >div a:hover{
	color: #b4a078;
}
.xpsf_body{
	width: 1090px;
	box-sizing: border-box
}
.xpsf_body>ul{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.xpsf_body>ul>li{
	width: 25%;
	height: 345px;
	border: 5px solid #fff;
	position: relative;
}
.xpsf_body>ul>li>div{
	position: relative;
}
.xpsf_body>ul>li>div{
	width: 100%;
	height: 100%;
}
.xpsf_body a:hover{
	color: #b4a078;
}
.php1{
	width: 265px;
	height:100%;
	background: url(../images/a1.png) no-repeat;
	background-size: 265px 265px;
	position: relative;
}
.php1:hover{
	width: 265px;
	height:100%;
	background: url(../images/a2.jpg) no-repeat;
	background-size: 265px 265px;
	background-color: #f4f0ea;
}
.php1>a{
	width: 100%;
	height: 100%;
	position:absolute;
	z-index: 2;
}
.xpsf_bottom1{
	height: 80px;;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	align-items: 80px;
}
.xpsf_bottom1_1,.xpsf_bottom1 p{
	margin-bottom: 5px;
}
.xpsf_bottom1_1>span:first-child{
	height: 20px;
	color: #fff;
	background-color: #f28f2d;
	padding: 0 5px;
	margin-right: 6px;
}
.xpsf_bottom1_1>span:nth-child(2){
	color: #fff;
	background-color: #e36844;
	padding: 0 5px;
}
.xpsf_bottom1 a{
	color: #000;
	font-weight: bold;
	font-size: 13px;
}
.xpsf_bottom1_2>span:first-child{
	color: #d4282d;
}
.xpsf_bottom1_2>span:nth-child(2){
	color: #b299a5;
	text-decoration: line-through;
}
.php2{
	width: 265px;
	height:100%;
	background: url(../images/b1.png) no-repeat;
	background-size: 265px 265px;
	position: relative;
}
.php2>a{
	width: 100%;
	height: 100%;
	position: absolute;
}
.php2:hover{
	width: 265px;
	height:100%;
	background: url(../images/b2.jpg) no-repeat;
	background-size: 265px 265px;
	background-color: #f4f0ea;
}
.xpsf_bottom2{
	height: 80px;;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}
.xpsf_bottom2 a{
	color: #000;
	font-weight: bold;
	font-size: 13px; 
}
.xpsf_bottom2 >div{
	margin:10px auto;
}
.xpsf_bottom2>span{
	color: #d4282d;
}
.php3{
	width: 265px;
	height:100%;
	background: url(../images/c1.png) no-repeat;
	background-size: 265px 265px;
	position: relative;
}
.php3:hover{
	width: 265px;
	height:100%;
	background: url(../images/c2.jpg) no-repeat;
	background-size: 265px 265px;
	background-color: #f4f0ea;
}
.php4{
	width: 265px;
	height:100%;
	background: url(../images/d1.png) no-repeat;
	background-size: 265px 265px;
	position: relative;
}
.php4:hover{
	width: 265px;
	height:100%;
	background: url(../images/d2.jpg) no-repeat;
	background-size: 265px 265px;
	background-color: #f4f0ea;
}
.php4>a{
	width: 100%;
	height: 100%;
	position:absolute;
	z-index: 2;
}
.rqtj_bg{
	width: 100%;
	background-color: #f4f0ea;
	height: 650px;
}
.rqtj{
	width: 1090px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.rqtj_top{
	width: 1090px;
	box-sizing: border-box;
	padding-top: 30px;
	margin-bottom: 15px;
}
.rqtj_top::after{
	content: "";
	display: block;
	clear: both;
}
.rqtj_top a{
	text-decoration: none;
	color: #000;
}
.rqtj_top h3{
	font-size: 28px;
}
.rqtj_top div{
	float: left;
	position: relative;
}
.rqtj_top_center{
	top: 18px;
	left:30px;
}
.rqtj_top_right{
	top:18px;
	left: 640px;
}
.rqtj_top_right > a{
	font-size: 14px;
}
.rqtj_top >div a:hover{
	color: #b4a078;
}
.rqtj_top_center>div{
	margin:0 20px;
}
.rqtj_body{
	width: 1090px;
	height: 538px;
	display: flex;
	box-sizing: border-box;
}
.rqtj_body a{
	color: #000;
	font-weight: bold;
}
.rqtj_body a:hover{
	color: #b4a078;
}
.rqtj_body>ul::after{
	content: "";
	display: block;
	clear: both;
}
.rqtj_body>ul>li:first-child{
	float: left;
	width: 390px;
	height: 530px;
	background-color: #fff;
	box-sizing: border-box;
	border:3px solid #f4f0ea;
	display: flex;
	position: relative;
}
.rqtj_body>ul>li:first-child ~ *{
	float: left;
	width: 232px;
	height: 265px;
	background-color: #fff;
	box-sizing: border-box;
	border:3px solid #f4f0ea;
	display: flex;
	position: relative;
}
.rqtj_body>ul>li>div{
	width: 100%;
	height:100%;
	position: relative;
}
.rqtj_11{
	width: 390px;
	height: 400px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rqtj_11>img{
	width: 317px;
	height: 317px;
		transition: all 1s;
}
.rqtj_22{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 20px;
	border-top: 1px solid #ccc;
}
.rqtj_22_1>span{
	background-color: #f28f2d;
	color: #fff;
	padding: 10px auto;
}
.rqtj_11:hover img,.rqtj_2_1:hover img{
	transform: scale(1.1);
/*	transition: all 1s;*/
}
.rqtj_22_2{
	margin: 10px;
}
.rqtj_22_2,.rqtj_2_22,.rqtj_5_22{
	margin-top: 10px;
	color: #dc282d;
}
.rqtj_2_1{
	width: 223px;
	height: 180px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.rqtj_2_1>img{
	width: 178px;
	height: 178px;
	transition: all 1s;
}
.rqtj_2_2{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 20px;
}
.rqtj_2_21>span:first-child,.rqtj_5_21>span{
	background-color: #f28f2d;
	color: #fff;
	margin-right: 10px; 

}
.rqtj_2_21>span:nth-child(2){
	background-color: #e36844;
	color: #fff;
}
.rqtj_5_22>span:nth-child(2){
	color: #b299a5;
	text-decoration: line-through;
}
.xsg{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.xsg_top{
	padding-top: 58px;
	padding-bottom: 20px;
}
.xsg_left > a,.fls-left>a{
	float: left;
	font-size: 28px;
	font-weight: bold;
	color: #000;
}
.xsg_right > a ,.fls-right>a{
	float: right;
	margin-right: 20px;
	color: #000;
}
.xsg_top a:hover,.fls-top{
	color: #b4a078;
}
.xsg_body{
	width: 1090px;
    height: 370px;
}
.xsg_body>ul{
	box-sizing: border-box;
	background-color: pink;
}
.xsg_body>ul>li:first-child{
	width: 224px;
	height: 370px;
	border:3px solid #fff;
	float: left;
	box-sizing: border-box;
	position: relative;
	background: url(../images/c9aeb62a3f79123d793d8c49b6698b09.jpg);
	background-size: 100% 100%;
}
.xsg_body>ul>li:first-child ~ *{
	width: 433px;
	height: 185px;
	border:1px solid #ededed;
	float: left;
	box-sizing: border-box;
}
.xsg_body>ul>li>a{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.xsg_body>ul>li:first-child>div{
	text-align: center;
}
.xsg_body2>h2>a:hover{
	color: #b4a078;
}
.dianchanng14{
	font-size: 28px;
	color:#615573;
	page-break-inside: avoid;
	position: absolute;
	top: 70px;
	left: 69px;
}
#hengxian{
	width: 20px;
	height: 2px;
	background-color: #61594b;
	position: absolute;
	top: 125px;
	left:100px;
}
.time{
	position: absolute;
	top: 180px;
	left: 40px;
}
.time>div{
	float: left;
}
.time>div:first-child,.time>div:nth-child(3),.time>div:nth-child(5){
	width: 40px;
	height: 40px;
	background-color: #615548;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}
.time>div:nth-child(2),.time>div:nth-child(4){
	width: 10px;
	height: 40px;
	color: #000;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}
.xsg_body_left>div:nth-child(4){
	font-size: 18px;
	position: absolute;
	top: 145px;
	left: 55px;
}
.xsg_body_left>div:last-child{
	width: 110px;
	height: 30px;
	border-radius: 15px;
	color: #fff;
	background-color: #a7936e;
	position: absolute;
	bottom: 60px;
	left: 55px;
	line-height: 30px;
}
.xsg_body1::after{
	content: "";
	display: block;
	clear: both;
}
.xsg_body1>div:first-child{
	float: left;
	width: 180px;
	height: 180px;
	overflow: hidden;
}
.xsg_body1>div:fitst-child>img{
	width: 100px;
	height: 100px;
}
.xsg_body1>div:nth-child(2){
	width: 240px;
	height: 180px;
	float: right;
}
.xsg_body1>div:nth-child(2) h2>a{
	font-size: 16px;
	font-weight: lighter;
	color: #000;
}
.xsg_body1>div:nth-child(2) h2{
	margin-top: 10px;
}
.xsg_body1>div:nth-child(2) p{
	font-size: 14px;
	color: #999999;
	margin: 5px auto;
}
.xsg_body1_3::after{
	content: "";
	display: block;
	clear: both;
}
.xsg_body1_3{
	height: 20px;
	line-height: 20px;
	display: flex;
	align-items: center;
}
.xsg_body1_3>div:first-child{
	width:150px;
	height:10px;
	border-radius: 10px;
	float: left;
	background-color:#ffe5e5;
	border:1px solid #fff;
}
.xsg_body1_3>div:nth-child(2){
	font-size: 14px;
	color: #999999;
	margin-left:12px;
	float: left;
}
.xsg_body1_4>span:first-child{
	color: #be4141;
	font-weight:lighter;
}
.xsg_body1_4>span:nth-child(2){
	color: #be4141;
	font-weight:lighter;
	font-size: 24px;
	font-weight: bold;
}
.xsg_body1_4>span:nth-child(3),.xsg_body1_4>span:nth-child(4){
	font-size: 14px;
	color: #999;
}
.xsg_body1_4>span:nth-child(4){
	text-decoration: line-through;
}
.xsg_body2>a{
	display: block;
	width: 118px;
	height: 31px;
	background-color: #be4141;
	color: #fff;
	text-align: center;
	line-height: 31px;
	margin-top: 15px;
}
.xsg_body2>a:hover{
	background-color: #da4f4f;
}
#xsg_a:hover{
	color: #b4a078;
}
.xsg_img{
transition: all 1s;
}
.xsg_img:hover{
	transform: scale(1.1);
}
.fls{
	width: 100%;
	height: 526px;
	box-sizing: border-box;
	margin-top: 60px;
	padding: 54px 54px 0;
	background-color: #f4f0ea;
	display: flex;
	justify-content: center;
}
.fls-top{
	width: 1090px;
}